# Ignore all WordPress core files
wordpress/*
# But keep custom content and config
!wordpress/wp-content/
!wordpress/wp-config.local.php
!wordpress/wp-config.php
!wordpress/.htaccess

# Ignore uploads, cache, and debug logs
wordpress/wp-content/uploads/
wordpress/wp-content/upgrade/
wordpress/wp-content/cache/
wordpress/wp-content/debug.log
# Ignore all core themes except custom ones
wordpress/wp-content/themes/twentytwenty*/
wordpress/wp-content/themes/twentytwentythree/
wordpress/wp-content/themes/twentytwentyfour/
wordpress/wp-content/themes/twentytwentyfive/
# Ignore all core plugins except custom ones
wordpress/wp-content/plugins/akismet/
wordpress/wp-content/plugins/hello.php

# Ignore backup and migration plugin folders
wordpress/wp-content/ai1wm-backups/
wordpress/wp-content/plugins/all-in-one-wp-migration/

# Local environment files
.env
.env.local
.env.*.local

# Docker and OS cruft
db_data/
*.sql
*.sql.gz
*.tar.gz
.vscode/
.DS_Store
node_modules/